* {
  box-sizing: border-box;
}

:root {
  --var-repeat: auto-fill;
}

.container {
  display: grid;
  grid-template-columns: repeat(var(--var-repeat), minmax(100px, 1fr));
  grid-template-rows: 200px auto;
  gap: 10px;
  background-color: #f1f2f3;
  padding: 1em;
  max-width: 70rem;
}

.box {
  background: #666;
  color: white;
  padding: 5px;;
}

